[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liuxuesheng
[access "refs/for/refs/*"]
	read = group user/liuxuesheng
	push = group user/liuxuesheng
	label-Code-Review = -2..+2 group user/liuxuesheng
	label-Verified = -1..+1 group user/liuxuesheng
	rebase = group user/liuxuesheng
	removeReviewer = group user/liuxuesheng
	submit = group user/liuxuesheng
[access "refs/heads/*"]
	read = group user/liuxuesheng
	create = group user/liuxuesheng
	push = +force group user/liuxuesheng
	pushMerge = group user/liuxuesheng
[access "refs/tags/*"]
	push = +force group user/liuxuesheng
	pushTag = group user/liuxuesheng
	pushSignedTag = group user/liuxuesheng
